.SideNavbar{
    height: 100%;
    width: 200px;
    top:0;
    left:0;
    padding-top: 50px;
    background-color: #1c1d4d;
    position:fixed;
}
.SideNavbarList{
    height: 100vh;
    padding: 0;
    width: 100%;
}
.SideNavbarList .SideNavbarRows{
    width: 100%;
    height: 80px;
    padding-top: 28px;
    list-style-type: none;
    margin: 0%;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.SideNavbarList .SideNavbarRows:hover{
    cursor: pointer;
    background-color: #20215a; 

}

/* .SideNavbarList #active{
   background-color: #20215a;  
} */
.SideNavbarRows #navIcons{
    flex:30%;
    display:grid;
    place-items: center;
    font-size: 1.5em;

}

.SideNavbarRows #navTitles{
    flex:70%;
    
}